.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .listItem {
    background-color: #ffffff;
    /* border: 1px solid #dee2e6; */
    /* border: 1px solid #ff9000; */
    /* border-radius: 8px; */
    border-radius: 10px;
    /* background-color: #E6E6FA; */
    border-bottom: 4px solid #ff9000;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.5);
    padding: 16px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
    transition: transform 500ms ease-in-out;
  }

  .listItem:hover {
    transform: scale(1.05);
  }
  
  .title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #212529;
  }
  
  .content {
    margin: 0;
    flex-grow: 1;
    font-size: 14px;
    color: #495057;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .button {
    align-self: flex-end;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #bb2d3b;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  
  .tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    /* color: #0d6efd;
    background-color: #e7f1ff;
    border: 1px solid #b6d4fe; */
    background-color: #f4e5c9;
    color: #ff9000;
    font-weight: bold;
    border: 1px solid #ff9000;
    border-radius: 12px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .confirmDialog {
    font-size: 24px;
    color: #000;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  .confirm {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ff9000;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    border: 2px solid;
  }
    
  .confirm:hover {
    background-color: #000;
    color: #ff9000;
  }

  .cancel {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #dc3545;
    border: 2px solid #000;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
      
  .cancel:hover {
    background-color: #bb2d3b;
    border: 2px solid #ff9000;
    color: #fff;
  }

    .date {
      font-size: 12px;
      color: #666;
      margin: auto;
      /* margin-left: 4px; */
    }