.app {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 16px 16px;
  }
  
  .toolbar {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    /* background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6; */
    background-color: #E6E6FA;
    border-bottom: 1px solid #ff9000;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 50px;
  }
  
  .button {
    padding: 6px 12px;
    font-size: 16px;
    /* color: #fff; */
    /* background-color: #0d6efd; */
    background-color: #ff9000;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 0.2s ease; */
    transition: background-color 0.2s ease, color 0.2s ease;
    border: 2px solid;
  }
  
  .button:hover {
    /* background-color: #0b5ed7; */
    background-color: #000;
    color: #ff9000;
  }