.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: #212529;
    /* position: relative; */
  }
  
  .input,
  .textarea,
  .select {
    margin-top: 4px;
    padding: 8px 12px;
    font-size: 14px;
    /* border: 1px solid #ced4da; */
    border: 1px solid #ff9000;
    border-radius: 4px;
    resize: none;
  }

  .textarea:focus,
  .select:focus {
    border: 2px solid #ff9000;
    outline: none;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  
  .submitButton {
    padding: 8px 16px;
    font-size: 16px;
    /* background-color: #0d6efd;
    color: #fff; */
    background-color: #ff9000;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 0.2s ease; */
    transition: background-color 0.2s ease, color 0.2s ease;
    border: 2px solid;
  }
  
  .submitButton:hover {
    /* background-color: #0b5ed7; */
    background-color: #000;
    color: #ff9000;
  }
  
  .submitButton:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .cancelButton {
    padding: 8px 16px;
    font-size: 16px;
    /* background-color: #f8f9fa; */
    background-color: #fdecea;
    border: 1px solid #f5c2c0;
    /* border-color: #f5c2c0; */
    color: #212529;
    /* border: 1px solid #ced4da; */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .cancelButton:hover {
    /* background-color: #e2e6ea; */
    background-color: #f4e5c9;
    border: 1px solid #ff9000;      
  }
  
  .errorContainer {
    height: 2px;
  }
  
  .error {
    color: #dc3545;
    font-size: 12px;
    margin-top: 4px;
    /* position: absolute;
    top: 100%;
    left: 0%; */
  }